<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="footer-copyright">
          <p>© Redirect Remodeling. All Rights Reserved.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-5">
        <ul class="social-icon">
          <li><a href="https://www.facebook.com/redirectremodeling/" class="fa fa-facebook"></a></li>
          <li><a href="https://www.instagram.com/redirectremodeling/" class="fa fa-instagram"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
{{ partial "scripts" . }}
</body>
</html>
