{{ partial "header" . }}

<section class="headline">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h2>{{ .Params.title }}</h2>
        {{ if .Params.description }}
          <div class="project-detail-text">
            <p>{{ .Params.description | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section id="project-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 screenshot">
        <img src="{{ .Params.featuredImageFile }}" class="img-responsive" alt="image">
      </div>
      {{ range .Params.images }}
        <div class="col-md-6 col-sm-6 screenshot">
          <img src="{{ . }}" class="img-responsive" alt="image">
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ $length := len (where .Site.RegularPages "Section" "==" "work") }}
{{ $posts := ($.Site.GetPage "section" "work").Pages.ByWeight }}
{{ $weight := .Params.weight }}

{{ if eq $weight $length }}
  {{ range first 1 $posts }}
    <a href="{{ .Permalink }}" alt="{{ .Params.title }}" class="upnext">
      <section id="project-detail-links">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3>Up Next</h3>
              <h2>{{ .Params.title }}</h2>
            </div>
          </div>
        </div>
      </section>
    </a>
  {{ end }}
{{ else }}
  {{ range $index, $id := $posts }}
    {{ if eq $index $weight }}
      <a href="{{ .Permalink }}" alt="{{ .Params.title }}" class="upnext">
        <section id="project-detail-links">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <h3>Up Next</h3>
                <h2>{{ .Params.title }}</h2>
              </div>
            </div>
          </div>
        </section>
      </a>
    {{ end }}
  {{ end }}
{{ end }}

{{ partial "bottom-cta" . }}

{{ partial "footer" . }}
