{{ partial "header" . }}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="about-info">
          <h1>Get outside and go on an awesome adventure.</h1>
          <p>We are a small group of adventurers, designers, and carpenters with a passion for breathing new life into mid-century campers. We thrive on enabling your next adventure. <em>See our services below</em>.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="about-service-text">
          <ul>
            <li>Layout/Interior Design</li>
            <li>Appliance Selection</li>
            <li>Palette Selection</li>
            <li>Furniture/Art Curation</li>
            <li>Bedding & Linens</li>
            <li>Staging to Sell</li>
            <li>Product Photography</li>
            <li>Listing Management</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="about-service-text">
          <ul>
            <li>Polish</li>
            <li>Tires & Rims</li>
            <li>Framing</li>
            <li>Plumbing</li>
            <li>Electrical</li>
            <li>Painting</li>
            <li>Woodworking</li>
            <li>AC Units</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="about-service-text">
          <ul>
            <li>AC Units</li>
            <li>Glass Repair</li>
            <li>Cabinetry</li>
            <li>Flooring</li>
            <li>Toilets</li>
            <li>Beds</li>
            <li>Lighting</li>
            <li>Bathtub Resurfacing</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{{ partial "bottom-cta" . }}
{{ partial "footer" . }}
